<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <button mat-button mat-dialog-close tabindex="-1" class="float-right">
        <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
    </button>
    <h2 mat-dialog-title>
        <ng-container i18n="@@selControllerDlgHead">Wind Conditions</ng-container>
    </h2>

    <mat-dialog-content>
        <table>
            <tr *ngFor="let d of variables;let i = index;">
                <td>
                    {{d.variableLabel}}
                </td>
                <td>
                    <simserv-variable-editor [variableDefinition]="d">
                    </simserv-variable-editor>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
</div>